body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5CEBE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  margin-left: 50px;
}
form
{
  margin-left:50px ;
}
p{
  margin-left: 50px;
}
img{
  margin-left: 50px;
}
label
{
  font-size: 30px;
}
input
{
  width: 50%;
  height: 20px;
  margin-top: 5px;
}
header
{
  background-color: gray;
  height: 50px;
  
}
h4{
  margin-left: 50px;
}
#try
{
  margin-left: 50px;
}
#root
{
  background-color:lightcoral
}

